{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Jeux de société</h1>

    <h2>Solitaire</h2>

    <h3>Parties</h3>
    <button>Nouvelle</button>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Créer</button>
    {{ form_end(form) }}
    <table>
        <thead>
        <tr>
            <td>Titre</td>
            <td>Joueur</td>
            <td>Statut</td>
            <td>actions</td>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
        <tr>
            <td>
                <a href="{{ path('solitaire_show', {'id': game.id}) }}">{{ game.name }}</a>
            </td>
            <td>{{ game.players[0].user.username }}</td>
            <td>-</td>
            <td>
                <a href="{{ path('solitaire_delete', {'id': game.id}) }}">supprimer</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}