{% extends 'base.html.twig' %}

{% block body %}{{ parent() }}
    <h1>Jeux</h1>
    {% for boardgame in boardgames %}
        <p>
            <a href="{{ path('innovation_index') }}">{{ boardgame.title }}</a>
        </p>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Créer</button>
    {{ form_end(form) }}
{% endblock %}