{% extends "base.html.twig" %}

{% block body %}{{ parent() }}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>Innovation</h1>
    <ul>
        {% for game in games %}
            <li>
                {% if game.isStarted %}
                    <a href="{{ path('game_show', {'slug': game.boardgame.slug, 'game': game.id}) }}">{{ game.title }}</a>
                {% else %}
                    {{ game.title }}
                {% endif %}
                {% if not game.playedBy(app.user) and game.isJoinable %}
                    <a href="{{ path('game_join', {'game': game.id}) }}">Rejoindre</a>
                {% endif %}
                {% if game.playedBy(app.user) and not game.isStarted %}
                    <a href="{{ path('game_leave', {'game': game.id}) }}">Quitter</a>
                {% endif %}
                <a href="{{ path('game_reinit', {'game': game.id}) }}">Redémarrer</a>
            </li>
        {% endfor %}
    </ul>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <p><button>Créer</button></p>
    {{ form_end(form) }}
{% endblock %}